# User data
.DS_Store

# Temporary files
*~
*.swp
*.asv

# Data
*data

*.png
*.jpg
*.bmp
*.pgm
*.gif
*.fig
*.mov

*.mat
*.zip
*.db
*.tar.gz

# Compiled files
*.o
*.mex*
*.dSYM
*.user

# Common data/binary directories
Data
dump
output
result
build
bin
lib
